{% load static %}
  <!-- JavaScript Libraries -->
  <script src="{% static 'portfolio/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'portfolio/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'portfolio/lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'portfolio/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'portfolio/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'portfolio/lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'portfolio/lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'portfolio/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'portfolio/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'portfolio/lib/typed/typed.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'portfolio/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'portfolio/js/main.js' %}"></script>
